/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

//VARIABLES
$font1: 'Playfair Display', serif;
$font2: 'Nanum Gothic', sans-serif;
$font3: 'Quicksand', sans-serif;
$c1: black;
$c2: white;

/*CSS RESET*/
* {
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.container-general {
  .container-navigation {
    .container-general-menu {
      display: flex;
      justify-content: space-between;
      padding: 1rem;

      .name-company {
        font-family: $font3;
        font-weight: 500;
        font-size: 1.6rem;
        text-transform: capitalize;
      }
  
      .container-navigation{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        #hamb-menu {
          width: 3rem;
          height: 3rem;
          cursor: pointer;
        }
        
        .container-menu {
          nav {
            .menu {
              .options {
                text-align: end;
                padding: .2rem;
                margin-left: .2rem;

                .links {
                  color: $c1;
                  font-family: $font3;
                  font-weight: lighter;
                  text-transform: capitalize;
                  margin-right: .5rem;
                  
                  &:hover {
                    font-weight: 700;
                  }
                }
              }
            }
          }
        }
      }

      .container-menu-2 {
        nav {
          .menu {
            .options {
              .links {
                font-family: $font3;
                font-weight: lighter;
              }
            }
          }
        }
      }
    }
  }

  main  {
    .container-recipe-group {
      .container-recipe-video {}

      .slogan-company{}
      #all-recipes {}

      .container-recipes {
        .container-food {
          .food-image {}
          .container-food-texts {
            .food-name {}
            .prep-time {}
            .people-serve {}
          }
        }
      }
    }
  }
}