/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

/*VARIABLES*/
$font1: 'Playfair Display', serif;
$font2: 'Nanum Gothic', sans-serif;
$font3: 'Noto Sans JP', sans-serif;
$c1: black;
$c2: white;

/*CSS RESET*/
* {
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

body {
  background-image: url("/Furnace/assets/images/Austin-Ban-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container-general {
  .container-navigation-bar {
    display: flex;
    justify-content: space-between;

    padding: 1rem;

    #logo {
      width: 3rem;
      height: 3rem;
    }

    nav {
      #menu-options {
        .options {
          // border: 3px solid lightcoral;
          margin-bottom: .7rem;
          text-align: end;
          a {
            text-transform: uppercase;
            font-family: $font2;
            color: $c2;

            &:hover {
              font-weight: 700;
            }
          }

          .container-modes {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            
            #sun {
              cursor: pointer;
              width: 2rem;
              margin-right: .4rem;
            }

            #moon {
              cursor: pointer;
              width: 1.3rem;
              height: 1.3rem;
            }
          }
        }
      }
    }
  }

  main {
    .container-main {
      position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        
        margin-top: 16rem;
      .container-text {
        .title-company {}
        .description {}
      }

      .container-cta-btn {
        // position: absolute;
        // top: 0;
        // right: 0;
        // left: 0;
        // bottom: 0;
        
        // margin-top: 16rem;
        // text-align: center;

        #product-link {
          button {
            padding: .5rem 1rem;
            font-family: $font2;
          }
        }
      }
    }
  }
}