/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

/*VARIABLES*/
$font1: 'Playfair Display', serif;
$font2: 'Nanum Gothic', sans-serif;
$font3: 'Noto Sans JP', sans-serif;
$c1: black;
$c2: white;

/*CSS RESET*/
* {
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

#container-general {
  .container-nav {
    padding: 2rem;
    .container-navigation-options {
      display: flex;
      justify-content: space-between;

      #container-menu-1 {
        display: flex;
        justify-content: center;
        align-items: center;

        .company-name {
          font-family: $font3;
          font-weight: 700;
          font-size: 1.5rem;
          text-transform: capitalize;
          margin-right: 2rem;
        }
        
        nav {
          .menu-options {
            display: flex;
            .options {
              .links {
                color: $c1;
                margin: 1rem;
                font-family: $font3;
                text-transform: capitalize;
              }
            }
          }
        }
      }

      #container-menu-2 {
        display: flex;
        justify-content: center;
        align-items: center;

        nav {
          .menu-options {
            display: flex;
            align-items: center;
            
            .container-light-dark-mode {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 1.5rem;

              #mode-sun {
                cursor: pointer;
                width: 2rem;
                margin-right: .8rem;
              }

              #mode-moon {
                cursor: pointer;
                width: 1.3rem;
              }
            }
            
            .options {
              .links {
                color: $c1;
                margin: 1rem;
                font-family: $font3;
                text-transform: capitalize;
              }

              #sign {
                color: $c2;
                background-color: $c1;
                padding: 1rem;
              }
            }
          }
        }
      }
    }
  }

  main {
    #container-display {
      display: flex;
      .container-section-1 {
        padding: 0 3rem 0 2rem;

        .container-showcase-best-recipes {
          background-image: url("/Furnace/assets/images/jirayu-koontholjinda-1.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          min-height: 80vh;
          max-width: 30vw;

          .container-text-best-recipes{
            padding: 2rem 2rem 0 2rem;
            .title-best-recipes {
              font-size: 3rem;
              font-family: $font3;
              font-weight: 600;
              text-transform: capitalize;
              color: $c2;
              margin-bottom: 1rem;
            }
            
            .description-best-recipes {
              font-family: $font3;
              font-weight: 400;
              color: $c2;
              margin-bottom: 1.5rem;
            }
          }

          #div-button{
            padding: 0 0 0 2rem;

            button {
              background-color: transparent;
              border: .01rem solid $c2;
              border-radius: 10rem;
              padding: 1rem;

              a {
                #redirect-arrow {
                  width: 2rem;
                }
              }
            }
          }
        }
      }

      .container-section-2 {
        padding: 10rem 5rem 0 0;
        .container-all-recipes {
          text-align: center;
          
          .title-all-recipes {
            padding: 1rem 0 0 0;
            margin: 0 0 .2rem 0;
            font-family: $font3;
            font-weight: 600;
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: .8rem;
          }
          
          p {
            padding: 0 0 1rem 0;
            margin: 0 0 .2rem 0;
            font-family: $font3;
            text-transform: capitalize;
            
            .link-all-recipes {
              color: $c1;
              text-decoration: underline;
            }
          }
        }
        
        .container-some-recipes {
          // display: flex;
          .container-recipe-display-1{
            .container-recipes-itself {
              // padding: .5rem;
              .recipes-image {
                width: 30%;
              }
              
              .container-text-recipes{
                display: flex;
                flex-direction: column;
                border: 3px solid green;
                .name-recipes {
                }
                .prep-time-recipes {}
              }
              
              .icon-serve-recipes {
              }
            }
          }
        }
      }
    }
  }
}