/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/*CSS RESET*/
* {
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.container-general #top-section .container-top-section-explanation {
  min-height: 100vh;
}
.container-general #top-section .container-top-section-explanation .container-texts-top-section {
  display: flex;
  justify-content: space-between;
  padding: 1.7rem 1.7rem 0 1.7rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}
.container-general #top-section .container-top-section-explanation .company {
  padding: 1.7rem;
  font-size: 5rem;
  font-weight: 500;
  font-family: "Playfair Display", serif;
}
.container-general #top-section .container-top-section-explanation .company .type-of {
  margin-left: 1rem;
  font-size: 1rem;
}
.container-general #top-section .container-top-section-explanation .bg-image-1 {
  background-image: url("/cozy/assets/images/cozy-16-R-ARCHITECTURE.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.container-general .container-top-section-about {
  padding: 1.2rem;
}
.container-general .container-top-section-about .container-text-company {
  font-family: "Quicksand", sans-serif;
}
.container-general .container-top-section-about .container-text-company .title-about-section {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.7rem;
}
.container-general .container-top-section-about .container-creator {
  margin: 4rem 0 0 0;
}
.container-general .container-top-section-about .container-creator .container-text-creator {
  font-family: "Quicksand", sans-serif;
}
.container-general .container-top-section-about .container-creator .container-text-creator .title-about-creator-section {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.7rem;
}
.container-general .middle-section {
  background-image: url("/cozy/assets/images/cozy-1-Cat-Han.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.container-general .middle-section .container-navbar .container-whole-nav {
  display: flex;
  justify-content: space-between;
}
.container-general .middle-section .container-navbar .container-whole-nav #link-product {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
}
.container-general .middle-section .container-navbar .container-whole-nav #link-product:hover {
  font-weight: 700;
}
.container-general .middle-section .container-navbar .container-whole-nav #logo-company {
  width: 4rem;
  height: 4rem;
}
.container-general .middle-section .container-navbar .container-whole-nav nav {
  display: flex;
  flex-direction: column;
  text-align: end;
  align-items: flex-end;
  justify-content: end;
}
.container-general .middle-section .container-navbar .container-whole-nav nav .hamb-menu {
  cursor: pointer;
  width: 4rem;
}
.container-general .middle-section .container-navbar .container-whole-nav nav #menu-options {
  margin: 0 1.3rem 0 0;
}
.container-general .middle-section .container-navbar .container-whole-nav nav #menu-options .options {
  margin-bottom: 0.5rem;
}
.container-general .middle-section .container-navbar .container-whole-nav nav #menu-options .options a {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 0.876rem;
  color: black;
  text-transform: uppercase;
}
.container-general .middle-section .container-navbar .container-whole-nav nav #menu-options .options a:hover {
  font-weight: 700;
}
.container-general .middle-section .container-navbar .container-whole-nav nav #menu-options .options #container-light-dark {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}
.container-general .middle-section .container-navbar .container-whole-nav nav #menu-options .options #container-light-dark #sun {
  margin-right: 0.5rem;
  cursor: pointer;
  width: 2rem;
}
.container-general .middle-section .container-navbar .container-whole-nav nav #menu-options .options #container-light-dark #moon {
  cursor: pointer;
  width: 1rem;
}/*# sourceMappingURL=style.css.map */